<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Reddits" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Settings" tabIcon="construct"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
